<h1>PHIGGit</h1>
<h3>Story Listings</h3>

<p><%= link_to 'Add a Story', new_story_path, class: "button" %></p>

<% @stories.each do |story| %>
<div class="phigg_container">
    <div class="phigg_header"><%= link_to "#{story.title}", story_path(story.id) %></div>
    <div class="phigg_body"></div>

  

</div>
<% end %>


