// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_story_container {
    margin: 20px;
}

.show_story_headline {
    font-size: 1.5rem;
    text-align: left;
    
}

.givafig {
    margin: 0px 3px 0px 15px;
}