// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper, #story_index_header {
    width: 95%;
    margin: 10px;
}

#story_index_header {
    
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.left_side_wrapper {
    width: 70%;
    padding: 5px;
}

.right_side_wrapper {
    width: 30%;
    padding: 5px;
}

.phigg_container {
    width: 100%;
    border: 2px solid #000066;
    margin-bottom: 10px;
}

.phigg_header {
    width: 100%;
    background-color: #000066;
    padding: 3px 10px;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}



.phigg_body {
    width: 100%;
    background-color: #eeeeff;
    padding: 3px 10px;
}

.phigg_byline {
    width: 100%;
    background-color: #cccccc;
    padding: 3px 10px;
}

.rs_modules {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #999999;
}

.rsm_header {
    width: 100%;
    background-color: #999999;
    color: blue;
    padding: 3px 10px;
    text-align: center;
    font-weight: bold;
}

.rsm_body {
    width: 100%;
    background-color: #fff9de;
    padding: 5px 10px;
}

#rsm1_body ul {
    list-style: none;
}